{% extends 'base.html.twig' %}

{% block title %}Wellcome to iiSor WEB{% endblock %}

{% block body %}
    <div class="iisor-top-contents">
        <h1>
            <a href="{{ url('app_top') }}">
                <img src="/public/image/iisor-web-logo.svg" />
            </a>
        </h1>

        <div class="row iisor-top-kiban">
            <div class="col-4">
                <a href="{{ url('app_kiban_index', {'various':'main'}) }}">
                    <div class="iisor-top-contents-moji">Main</div> 
                    <div class="iisor-top-contents-moji">{{ kosu.main }}</div>
                    <p>メイン基板</p>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url('app_kiban_index', {'various':'sub'}) }}">
                    <div class="iisor-top-contents-moji">Sub</div>
                    <div class="iisor-top-contents-moji">{{ kosu.sub }}</div>
                    <p>サブ基板</p>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url('app_kiban_index', {'various':'wl'}) }}">
                    <div class="iisor-top-contents-moji">WL</div>
                    <div class="iisor-top-contents-moji">{{ kosu.wl }}</div>
                    <p>ワイヤレス基板</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="">
                    <img src="/public/image/en.svg" />
                    <p>料金が知りたい</p>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <img src="/public/image/kago.svg" />
                    <p>購入・レンタルしたい</p>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url('app_inquiry') }}">
                    <img src="/public/image/man.svg" />
                    <p>お問い合わせ</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


