{% extends 'base.html.twig' %}

{% block title %}Kiban index{% endblock %}
{% block stylesheets %}
{% endblock %}


{% block body %}
    <div class="kiban-body">
        <h1>
            <a href="{{ url('app_top') }}">
                <img src="/public/image/iisor-web-logo.svg" />
            </a>
            <h1>{{ various }}</h1>
        </h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>基板種類</th>
                    <th>パーツ番号</th>
                    <th>シリアル番号</th>
                    <th>振替可否</th>
                    <th>使用状況</th>
                    <th>割当部署担当者</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% if kibans|length > 0 %}
                    {% for kiban in kibans %}
                        <tr>
                            <td>{{ kiban.id }}</td>
                            <td>{{ kiban.various }}</td>
                            <td>{{ kiban.partsno }}</td>
                            <td>{{ kiban.serialno }}</td>
                            <td>{{ kiban.furikae }}</td>
                            <td>{{ kiban.status }}</td>
                            <td>{{ kiban.person }}</td>
                            <td>
                                <a href="{{ path('app_kiban_show', {'id': kiban.id}) }}">詳細</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{{ path('app_kiban_new') }}">新規基板登録</a>
    </div>
{% endblock %}
