{% extends 'base.html.twig' %}

{% block title %}Kiban{% endblock %}

{% block body %}
    <div class="kiban-body">
        <a href="{{ url('app_top') }}">
            <img src="/public/image/iisor-web-logo.svg" />
        </a>
        <h1>管理データ</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ kiban.id }}</td>
                </tr>
                <tr>
                    <th>基板種類</th>
                    <td>{{ kiban.various }}</td>
                </tr>
                <tr>
                    <th>発注日</th>
                    <td>{{ kiban.orderData ? kiban.orderData|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>納入予定日</th>
                    <td>{{ kiban.dueDate ? kiban.dueDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>在庫日</th>
                    <td>{{ kiban.stockDate ? kiban.stockDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>パーツ番号</th>
                    <td>{{ kiban.partsno }}</td>
                </tr>
                <tr>
                    <th>シリアル番号</th>
                    <td>{{ kiban.serialno }}</td>
                </tr>
                <tr>
                    <th>良品・不良品</th>
                    <td>{{ kiban.goodproduct }}</td>
                </tr>
                <tr>
                    <th>振替可否</th>
                    <td>{{ kiban.furikae }}</td>
                </tr>
                <tr>
                    <th>使用状況</th>
                    <td>{{ kiban.status }}</td>
                </tr>
                <tr>
                    <th>NXT担当者</th>
                    <td>{{ kiban.nxtperson }}</td>
                </tr>
                <tr>
                    <th>割り当て部署</th>
                    <td>{{ kiban.assignee }}</td>
                </tr>
                <tr>
                    <th>割り当て担当者</th>
                    <td>{{ kiban.person }}</td>
                </tr>
                <tr>
                    <th>割り当て済み</th>
                    <td>{{ kiban.assigned }}</td>
                </tr>
                <tr>
                    <th>備考</th>
                    <td>{{ kiban.memo }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_kiban_index', {'various': kiban.various}) }}">一覧に戻る</a>

        <a href="{{ path('app_kiban_edit', {'id': kiban.id}) }}">編集</a>

        {{ include('kiban/_delete_form.html.twig') }}
    </div>
{% endblock %}
