{% extends 'base.html.twig' %}

{% block title %}Kiban{% endblock %}

{% block body %}
    <style>
     .kiban-body {
         margin: 2em auto;
         max-width: 800px;
         width: 95%;
         font: 18px/1.5 sans-serif;
     }
     .kiban-body h1 {
         margin-top: 40px;
         margin-bottom: 40px;
     }
     .kiban-body img {
         width: auto;
         margin: 20px 20px;
     }
    </style>
    <div class="kiban-body">
        <a href="{{ url('app_top') }}">
            <img src="/public/image/iisor-web-logo.svg" />
        </a>
        <h1>管理データ</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ kiban.id }}</td>
                </tr>
                <tr>
                    <th>識別名 品番など</th>
                    <td>{{ kiban.name }}</td>
                </tr>
                <tr>
                    <th>基板種類</th>
                    <td>{{ kiban.various }}</td>
                </tr>
                <tr>
                    <th>発注日</th>
                    <td>{{ kiban.orderData ? kiban.orderData|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>納入予定日</th>
                    <td>{{ kiban.dueDate ? kiban.dueDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>在庫日</th>
                    <td>{{ kiban.stockDate ? kiban.stockDate|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_kiban_index', {'various': kiban.various}) }}">一覧に戻る</a>

        <a href="{{ path('app_kiban_edit', {'id': kiban.id}) }}">編集</a>

        {{ include('kiban/_delete_form.html.twig') }}
    </div>
{% endblock %}
